.react-chatbot-kit-chat-container {
    width: 400px;
    box-shadow:2px 3px 9px 0px #000000;
}
.react-chatbot-kit-chat-inner-container {
    background-color: #f5fff6;
    /* background-image: url('../assets/images/chat_bg.jpg'); */
}
.react-chatbot-kit-chat-container {
    width: 400px;
}

.react-chatbot-kit-chat-bot-message {
    margin-left: 10px;
}

.react-chatbot-kit-chat-bot-message {
    background-color: #2e0461;
}

.react-chatbot-kit-chat-bot-message-arrow {
    border-right: 8px solid #2e0461;
}

.react-chatbot-kit-chat-btn-send {
    background-color: #2e0461;
}
